*{
    margin: 0;
    padding: 0;
}
html,body{
    box-sizing: border-box;
    font-family: Arial;
}
.main{
    background-color: #f6d050;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 270px;
    height: 350px;
    background-color:#fff;
    border-radius: 20px;
    box-shadow: 4px 4px black;
    padding: 20px;
}
.card>img{
    width: 100%;
    border-radius: 20px;
} 
.card p{
    margin-top: 10px;
    background-color: #f6d050;
    color: #363636;
    padding: 3px 12px;
    font-size: 13px;
    max-width: fit-content;
    font-weight:900;
    font-family: Arial;
    border-radius: 4px;
}
.card>h5{
    color: #363636;
    font-weight: lighter;
    margin: 20px 0px 10px;
}
.card>h4{
    color: #0d0d0d;
    margin: 8px 0;
    font-weight: 800;
    font-family: 'Arial';
}
.card #content{
    font-size: small;
    margin-top: 10px;
    margin-bottom: 0;
    background-color: inherit;
    font-family: Arial;
    padding: 0;
    font-weight: 500;
    color: #6b6b6b;
}
.logo{
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 10px;
}
.logo>img{
    width: 25px;
    border-radius: 100%;
}